@font-face {
  font-family: 'skfont';
  src:
    url('iconfont.woff?t=1597752026121') format('woff'),
    url('iconfont.ttf?t=1597752026121') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1597752026121#iconfont') format('svg'); /* iOS 4.1- */
}

.sk-icon {
  font-family: 'skfont', Arial, Helvetica, sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: '\e60a';
}

.icon-minus:before {
  content: '\e60b';
}

.icon-right-simple:before {
  content: '\e60d';
}

.icon-close:before {
  content: '\e60e';
}

.icon-ok:before {
  content: '\e60f';
}

.icon-menu:before {
  content: '\e610';
}

.icon-download:before {
  content: '\e628';
}

.icon-upload:before {
  content: '\e63f';
}

.icon-up-simple:before {
  content: '\e64d';
}

.icon-left-simple:before {
  content: '\e65b';
}

.icon-down-simple:before {
  content: '\e664';
}

.icon-stick-up:before {
  content: '\e685';
}

.icon-stick-down:before {
  content: '\e692';
}

.icon-stick-left:before {
  content: '\e698';
}

.icon-stick-right:before {
  content: '\e6cb';
}

.icon-lightning:before {
  content: '\e6ce';
}

.icon-delete:before {
  content: '\e6cf';
}

.icon-filter:before {
  content: '\e6d0';
}

.icon-goods:before {
  content: '\e6d1';
}

.icon-goods-2:before {
  content: '\e6d2';
}

.icon-up-o:before {
  content: '\e6d3';
}

.icon-identity:before {
  content: '\e6d5';
}

.icon-up:before {
  content: '\e6d6';
}

.icon-income:before {
  content: '\e6d9';
}

.icon-community:before {
  content: '\e6da';
}

.icon-film:before {
  content: '\e6dc';
}

.icon-setting-3:before {
  content: '\e6dd';
}

.icon-camera-2:before {
  content: '\e6de';
}

.icon-planet:before {
  content: '\e6df';
}

.icon-setting:before {
  content: '\e6e0';
}

.icon-stop-watch:before {
  content: '\e6e1';
}

.icon-compass:before {
  content: '\e6e2';
}

.icon-hand:before {
  content: '\e6e3';
}

.icon-alarm:before {
  content: '\e6e5';
}

.icon-board:before {
  content: '\e6e6';
}

.icon-video:before {
  content: '\e6e8';
}

.icon-time:before {
  content: '\e6e9';
}

.icon-home:before {
  content: '\e6ee';
}

.icon-leaf:before {
  content: '\e6f2';
}

.icon-building:before {
  content: '\e6f3';
}

.icon-book:before {
  content: '\e6f5';
}

.icon-pie-chart:before {
  content: '\e6f7';
}

.icon-refresh:before {
  content: '\e6f9';
}

.icon-data:before {
  content: '\e6fa';
}

.icon-water:before {
  content: '\e6fc';
}

.icon-coin:before {
  content: '\e6fe';
}

.icon-lorry:before {
  content: '\e6ff';
}

.icon-search-2:before {
  content: '\e700';
}

.icon-search:before {
  content: '\e701';
}

.icon-info:before {
  content: '\e702';
}

.icon-add:before {
  content: '\e705';
}

.icon-minify:before {
  content: '\e706';
}

.icon-bell:before {
  content: '\e707';
}

.icon-add-file:before {
  content: '\e708';
}

.icon-microphone:before {
  content: '\e709';
}

.icon-image:before {
  content: '\e70c';
}

.icon-group:before {
  content: '\e70d';
}

.icon-ok-2:before {
  content: '\e70e';
}

.icon-ok-3:before {
  content: '\e711';
}

.icon-ok-o:before {
  content: '\e715';
}

.icon-repair:before {
  content: '\e716';
}

.icon-group-2:before {
  content: '\e717';
}

.icon-web-page:before {
  content: '\e719';
}

.icon-wechat:before {
  content: '\e71a';
}

.icon-position:before {
  content: '\e71c';
}

.icon-bookmark:before {
  content: '\e71d';
}

.icon-doc:before {
  content: '\e71e';
}

.icon-doc-2:before {
  content: '\e720';
}

.icon-favor:before {
  content: '\e721';
}

.icon-file:before {
  content: '\e723';
}

.icon-ppt:before {
  content: '\e726';
}

.icon-idea:before {
  content: '\e728';
}

.icon-camera:before {
  content: '\e72a';
}

.icon-bike:before {
  content: '\e62b';
}

.icon-resource:before {
  content: '\e62c';
}

.icon-longitude:before {
  content: '\e62d';
}

.icon-school:before {
  content: '\e72e';
}

.icon-love:before {
  content: '\e631';
}

.icon-pill:before {
  content: '\e731';
}

.icon-left:before {
  content: '\e632';
}

.icon-clothes:before {
  content: '\e732';
}

.icon-wifi:before {
  content: '\e633';
}

.icon-music-2:before {
  content: '\e733';
}

.icon-alarm-2:before {
  content: '\e634';
}

.icon-glasses:before {
  content: '\e734';
}

.icon-edit-4:before {
  content: '\e635';
}

.icon-diamond:before {
  content: '\e636';
}

.icon-mail:before {
  content: '\e736';
}

.icon-security:before {
  content: '\e637';
}

.icon-credit:before {
  content: '\e737';
}

.icon-sorry:before {
  content: '\e638';
}

.icon-tag:before {
  content: '\e738';
}

.icon-baby:before {
  content: '\e739';
}

.icon-save:before {
  content: '\e63a';
}

.icon-edit-2:before {
  content: '\e63b';
}

.icon-car:before {
  content: '\e73b';
}

.icon-edit-3:before {
  content: '\e63c';
}

.icon-case:before {
  content: '\e73c';
}

.icon-edit:before {
  content: '\e63d';
}

.icon-medical:before {
  content: '\e73d';
}

.icon-right:before {
  content: '\e73e';
}

.icon-play-o:before {
  content: '\e640';
}

.icon-hide:before {
  content: '\e641';
}

.icon-cloud:before {
  content: '\e741';
}

.icon-no-warn:before {
  content: '\e642';
}

.icon-yuan-o:before {
  content: '\e742';
}

.icon-tailor:before {
  content: '\e643';
}

.icon-game:before {
  content: '\e744';
}

.icon-food:before {
  content: '\e645';
}

.icon-print:before {
  content: '\e647';
}

.icon-knowledge:before {
  content: '\e747';
}

.icon-live:before {
  content: '\e748';
}

.icon-live-2:before {
  content: '\e749';
}

.icon-forward:before {
  content: '\e74a';
}

.icon-aim:before {
  content: '\e64b';
}

.icon-send:before {
  content: '\e64c';
}

.icon-logout:before {
  content: '\e74d';
}

.icon-laud:before {
  content: '\e64e';
}

.icon-down-o:before {
  content: '\e74e';
}

.icon-smile:before {
  content: '\e74f';
}

.icon-navigation:before {
  content: '\e650';
}

.icon-temperature:before {
  content: '\e750';
}

.icon-like:before {
  content: '\e651';
}

.icon-down:before {
  content: '\e751';
}

.icon-metro:before {
  content: '\e652';
}

.icon-coupon:before {
  content: '\e752';
}

.icon-order:before {
  content: '\e653';
}

.icon-coupon-2:before {
  content: '\e753';
}

.icon-shop-2:before {
  content: '\e654';
}

.icon-shop:before {
  content: '\e655';
}

.icon-telephone:before {
  content: '\e656';
}

.icon-new-friend:before {
  content: '\e756';
}

.icon-document:before {
  content: '\e657';
}

.icon-repost:before {
  content: '\e757';
}

.icon-mp-o:before {
  content: '\e758';
}

.icon-subscribe:before {
  content: '\e659';
}

.icon-location:before {
  content: '\e65a';
}

.icon-music:before {
  content: '\e75a';
}

.icon-trip:before {
  content: '\e75b';
}

.icon-back:before {
  content: '\e65c';
}

.icon-enlarge:before {
  content: '\e65f';
}

.icon-qrcode:before {
  content: '\e660';
}

.icon-plane:before {
  content: '\e661';
}

.icon-share:before {
  content: '\e662';
}

.icon-classify:before {
  content: '\e663';
}

.icon-classify-2:before {
  content: '\e665';
}

.icon-share-2:before {
  content: '\e666';
}

.icon-parent:before {
  content: '\e667';
}

.icon-plane-2:before {
  content: '\e668';
}

.icon-service:before {
  content: '\e669';
}

.icon-copy:before {
  content: '\e66a';
}

.icon-help-o:before {
  content: '\e66b';
}

.icon-classify-3:before {
  content: '\e66d';
}

.icon-buy:before {
  content: '\e66e';
}

.icon-person:before {
  content: '\e670';
}

.icon-notice:before {
  content: '\e671';
}

.icon-bus:before {
  content: '\e672';
}

.icon-close-o:before {
  content: '\e673';
}

.icon-packet:before {
  content: '\e674';
}

.icon-no-voice:before {
  content: '\e675';
}

.icon-molecule:before {
  content: '\e676';
}

.icon-cart:before {
  content: '\e677';
}

.icon-thing:before {
  content: '\e678';
}

.icon-train-2:before {
  content: '\e679';
}

.icon-topic:before {
  content: '\e67a';
}

.icon-badge:before {
  content: '\e67b';
}

.icon-sing:before {
  content: '\e67c';
}

.icon-shut-down:before {
  content: '\e67d';
}

.icon-vip-2:before {
  content: '\e67e';
}

.icon-gift:before {
  content: '\e67f';
}

.icon-fire:before {
  content: '\e680';
}

.icon-vip:before {
  content: '\e682';
}

.icon-machine:before {
  content: '\e686';
}

.icon-goods-3:before {
  content: '\e689';
}

.icon-points:before {
  content: '\e68c';
}

.icon-add-file-2:before {
  content: '\e68e';
}

.icon-minus-o:before {
  content: '\e68f';
}

.icon-add-o:before {
  content: '\e690';
}

.icon-scissors:before {
  content: '\e693';
}

.icon-arrow:before {
  content: '\e694';
}

.icon-cross:before {
  content: '\e696';
}

.icon-forbid:before {
  content: '\e697';
}

.icon-alert:before {
  content: '\e69a';
}

.icon-mute:before {
  content: '\e69b';
}

.icon-arrange:before {
  content: '\e69c';
}

.icon-coffee:before {
  content: '\e69e';
}

.icon-earphone:before {
  content: '\e69f';
}

.icon-custom-service:before {
  content: '\e6a0';
}

.icon-contact:before {
  content: '\e6a2';
}

.icon-link:before {
  content: '\e6a3';
}

.icon-bluetooth:before {
  content: '\e6a4';
}

.icon-phone:before {
  content: '\e6a5';
}

.icon-basketball:before {
  content: '\e6a7';
}

.icon-train:before {
  content: '\e6a8';
}

.icon-road:before {
  content: '\e6a9';
}

.icon-link-2:before {
  content: '\e6aa';
}

.icon-view:before {
  content: '\e6ab';
}

.icon-lock:before {
  content: '\e6ad';
}

.icon-microphone-2:before {
  content: '\e6af';
}

.icon-magic:before {
  content: '\e6b1';
}

.icon-male:before {
  content: '\e6b3';
}

.icon-camera-3:before {
  content: '\e6b4';
}

.icon-female:before {
  content: '\e6b5';
}

.icon-comment-3:before {
  content: '\e6b6';
}

.icon-comment-2:before {
  content: '\e6b7';
}

.icon-comment:before {
  content: '\e6b8';
}

.icon-drift-bottle:before {
  content: '\e6b9';
}

.icon-wallet:before {
  content: '\e6c0';
}

.icon-money-bag:before {
  content: '\e6c4';
}

.icon-calendar:before {
  content: '\e6c5';
}

.icon-calendar-2:before {
  content: '\e6c6';
}

.icon-cd:before {
  content: '\e6c7';
}

.icon-full-screen:before {
  content: '\e6c8';
}

.icon-scan:before {
  content: '\e6c9';
}

.icon-filter-2:before {
  content: '\e6ca';
}

.icon-sandy-clock:before {
  content: '\e6cd';
}
