@import '../style/var.scss';
$name: sk-tag;

.#{$name} {
  display: inline-block;
  color: $white;
  border-radius: 0.25em;
  padding: 0.25em 0.4em;
  line-height: 1;
  font-weight: 700;
  overflow: hidden;

  &-small {
    font-size: 12px;
  }

  &-middle {
    font-size: 14px;
  }

  &-large {
    font-size: 18px;
  }

  &-close {
    position: relative;
    top: -0.05em;
    margin-left: 0.25em;
    cursor: pointer;
  }

  &-primary {
    background-color: $primary;
    &.#{$name}-ghost {
      color: $primary;
    }
  }

  &-secondary {
    background-color: $secondary;
    &.#{$name}-ghost {
      color: $secondary;
    }
  }

  &-success {
    background-color: $success;
    &.#{$name}-ghost {
      color: $success;
    }
  }

  &-info {
    background-color: $info;
    &.#{$name}-ghost {
      color: $info;
    }
  }

  &-warning {
    background-color: $warning;
    &.#{$name}-ghost {
      color: $warning;
    }
  }

  &-danger {
    background-color: $danger;
    &.#{$name}-ghost {
      color: $danger;
    }
  }

  &-light {
    background-color: $light;
    color: $gray-900;
    &.#{$name}-ghost {
      color: $gray-300;
    }
  }

  &-dark {
    background-color: $dark;
    &.#{$name}-ghost {
      color: $dark;
    }
  }

  &-round {
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 10rem;
  }

  &-ghost {
    border: 0.1em solid;
    padding: 0.15em 0.3em;
    background-color: transparent;
  }
}
