@import '../style/var.scss';

.sk-steps {
  display: flex;

  &-vertical {
    flex-direction: column;
  }
}

.sk-step {
  display: flex;
  overflow: hidden;

  .sk-steps-horizontal & {
    flex: 1;
    width: 0;
  }

  .sk-steps-vertical & {
    min-height: 64px;
    flex: none;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }

  &-head {
    flex: none;
    margin-right: 6px;

    .sk-step-icon {
      font-size: 30px;
      line-height: 30px;
      -webkit-user-select: none;
      user-select: none;

      .sk-step-process & {
        color: $info;
      }

      .sk-step-finish & {
        color: lighten($info, 12%);
      }

      .sk-step-wait & {
        color: $gray-500;
      }

      .sk-step-error & {
        color: $danger;
      }
    }

    .sk-step-label {
      width: 30px;
      height: 30px;
      line-height: 28px;
      border-radius: 50%;
      text-align: center;
      font-size: 16px;
      -webkit-user-select: none;
      user-select: none;

      .sk-step-process & {
        color: $white;
        border: 1px solid $info;
        background-color: $info;
      }

      .sk-step-finish & {
        border: 1px solid $info;
        background-color: $white;
        color: $info;
      }

      .sk-step-wait & {
        border: 1px solid $gray-500;
        background-color: $white;
        color: $gray-500;
      }

      .sk-step-error & {
        border: 1px solid $danger;
        background-color: $white;
        color: $danger;
      }
    }
  }

  &-main {
    flex: auto;
  }

  &-title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: $text;
    font-weight: bold;
    font-size: 14px;

    .sk-step-wait &,
    .sk-step-finish & {
      color: $gray-600;
    }

    .sk-step-error & {
      color: $danger;
    }

    &:after {
      position: absolute;
      content: '';
      left: calc(100% + 8px);
      top: 50%;
      border: 0;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: $gray-600;
      width: 100vw;
    }

    .sk-steps-vertical &:after {
      left: -21px;
      top: 30px;
      border-bottom-width: 0;
      border-left-width: 1px;
      width: auto;
      height: 100vh;
    }

    .sk-step-before-finish &,
    .sk-step-before-process & {
      &:after {
        border-color: lighten($info, 20%);
      }
    }

    .sk-step-before-error & {
      &:after {
        border-color: lighten($danger, 20%);
      }
    }

    .sk-step:last-child & {
      &:after {
        display: none;
      }
    }
  }

  &-description {
    color: $gray-700;
    font-size: 12px;
    margin-top: 4px;
    white-space: nowrap;

    .sk-step-process & {
      color: $gray-800;
    }

    .sk-step-error & {
      color: lighten($danger, 5%);
    }
  }
}
