@import '../style/var.scss';

@mixin type($themeColor) {
  ul {
    border-color: rgba($themeColor, 0.1);
    box-shadow: 0 0 10px rgba($themeColor, 0.1);
  }

  li {
    color: $themeColor;

    &:hover {
      background-color: $themeColor;
    }
  }
}

.sk-dropdown {
  display: inline-block;

  &-trigger {
    display: contents;
  }

  &-arrow {
    display: inline-block;
    transform: rotate(0deg) scale(0.75) translateY(-2px);
    transition: transform 0.2s;
    margin-left: 4px;

    &-open {
      transform: rotate(180deg) scale(0.8) translateY(-2px);
    }
  }

  &-popup {
    width: 200px;
    box-shadow: 0 2px 8px rgba($gray-800, 25%);
    border-radius: 3px;
    overflow: hidden;
    background-color: $white;
    color: $text;
    cursor: pointer;
    font-size: 14px;
  }

  &-option {
    display: block;
    background-color: $white;
    padding: 7px 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background-color: lighten($cyan, 42%);
    }

    &.selected {
      position: relative;
      background-color: $gray-200;
      padding-right: 48px;
    }

    &.disabled {
      background-color: $gray-200;
      opacity: 0.65;
      cursor: not-allowed;
    }

    &-ok {
      position: absolute;
      top: 50%;
      right: 16px;
      width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      transform: translateY(-50%);
    }
  }
}
