@import '../style/var.scss';

.sk-tooltip {
  &-content {
    position: relative;
    font-size: 12px;
    background-color: $gray-800;
    color: $white;
    border-radius: 4px;
    padding: 4px 6px;
  }

  &-arrow {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      transform: rotate(45deg);
      background-color: $gray-800;
    }
  }

  &-position {
    @mixin top {
      width: 8px;
      height: 4px;
      bottom: -4px;

      &:before {
        left: 0;
        right: 0;
        bottom: 2px;
        height: 8px;
      }
    }

    &-top {
      &-left {
        .sk-tooltip-arrow {
          @include top;

          left: 4px;
        }
      }

      &-center {
        .sk-tooltip-arrow {
          @include top;

          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-right {
        .sk-tooltip-arrow {
          @include top;

          right: 4px;
        }
      }
    }

    @mixin left {
      width: 4px;
      height: 8px;
      right: -4px;

      &:before {
        top: 0;
        bottom: 0;
        right: 2px;
        width: 8px;
      }
    }

    &-left {
      &-top {
        .sk-tooltip-arrow {
          @include left;

          top: 4px;
        }
      }

      &-center {
        .sk-tooltip-arrow {
          @include left;

          top: 50%;
          transform: translateY(-50%);
        }
      }

      &-bottom {
        .sk-tooltip-arrow {
          @include left;

          bottom: 4px;
        }
      }
    }

    @mixin right {
      width: 4px;
      height: 8px;
      left: -4px;

      &:before {
        top: 0;
        bottom: 0;
        left: 2px;
        width: 8px;
      }
    }

    &-right {
      &-top {
        .sk-tooltip-arrow {
          @include right;

          top: 4px;
        }
      }

      &-center {
        .sk-tooltip-arrow {
          @include right;

          top: 50%;
          transform: translateY(-50%);
        }
      }

      &-bottom {
        .sk-tooltip-arrow {
          @include right;

          bottom: 4px;
        }
      }
    }

    @mixin bottom {
      width: 8px;
      height: 4px;
      top: -4px;

      &:before {
        left: 0;
        right: 0;
        top: 2px;
        height: 8px;
      }
    }

    &-bottom {
      &-left {
        .sk-tooltip-arrow {
          @include bottom;

          left: 4px;
        }
      }

      &-center {
        .sk-tooltip-arrow {
          @include bottom;

          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-right {
        .sk-tooltip-arrow {
          @include bottom;

          right: 4px;
        }
      }
    }
  }
}
