@import '../style/var.scss';

.sk-tabs {
  &-container {
    display: flex;
    position: relative;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 12px;
  }

  &-content {
    font-size: 14px;
  }

  &__button {
    position: relative;
    box-sizing: border-box;
    min-width: 96px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    border: 1px solid transparent;
    margin-bottom: -1px;
    color: $gray-700;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-link {
      color: $green;

      &:hover {
        color: darken($green, 10%);
        border-color: $gray-200;
      }
    }

    &-active {
      border-color: $gray-300;
      background-color: $white;
      border-bottom: 1px solid $white;
      color: $text;
    }

    &-disabled {
      color: $gray-700;
      cursor: not-allowed;
    }
  }

  &-justified {
    .sk-tabs__button {
      width: 0;
      flex: auto;
    }
  }

  &__del {
    position: absolute;
    top: -3px;
    right: 2px;
    color: $gray-500;
    display: none;

    .sk-tabs__button:hover & {
      display: block;
    }
  }
}
