@import '../style/var.scss';

.sk-notify {
  display: inline-flex;
  align-items: flex-start;
  margin-top: 16px;
  padding: 8px 22px;
  border-radius: 4px;
  max-width: 20%;
  color: $white;
  box-shadow: 0 1px 5px 0 rgba($black, 0.1);
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;

  &-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 16px;
    right: 0;
    pointer-events: none;
    z-index: 2000;
  }

  &-content {
    text-align: left;
  }

  &-success {
    background-color: lighten($success, 2%);
  }

  &-info {
    background-color: lighten($info, 2%);
  }

  &-warn {
    background-color: lighten($warning, 2%);
  }

  &-error {
    background-color: lighten($danger, 2%);
  }

  &.v-enter-from,
  &.v-leave-to {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateY(-100%);
  }

  &.v-leave-active {
    position: absolute;
  }

  .sk-notify-icon {
    margin-right: 8px;
    line-height: 22px;
  }
}
