@import '../style/var.scss';

.sk-radio {
  display: inline-block;
  font-size: 16px;

  &-input {
    opacity: 0;
    cursor: pointer;

    & + .sk-radio-before {
      position: absolute;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      left: 0;
      top: 3px;
      border-radius: 50%;
      pointer-events: none;
      border-style: solid;
      border-width: 1px;
      border-color: $secondary;
      transition: all 0.15s;
    }

    &:checked + .sk-radio-before {
      border-width: 5px;
      border-color: $primary;
    }
  }

  &-label {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;

    &.sk-radio-disabled {
      color: $dark;
      cursor: not-allowed;

      .sk-radio-input {
        pointer-events: none;
      }

      .sk-radio-before {
        border-color: $secondary;
        background-color: $gray-200;
      }
    }

    &:active {
      .sk-radio-before {
        background-color: $gray-400;
        box-shadow: 0 0 0 2px lighten($gray-800, 65%);
      }
    }
  }
}
