@import '../style/var.scss';

$border-color: #dee2e6;

.sk-table {
  width: 100%;
  display: table;
  margin: 0;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border-color;
  overflow: hidden;

  tr {
    border: none;
  }

  th,
  td {
    padding: 10px 12px;
    border: none;
    border-bottom: 1px solid $border-color;
    font-size: 14px;
  }

  &-thead,
  &-tbody {
    width: 100%;
  }

  &-thead {
    background-color: $gray-100;
  }

  &-tbody {
    tr {
      background-color: $white;
    }
  }

  &-bordered {
    th,
    td {
      border: 1px solid $border-color;
    }
  }

  &-striped {
    tbody > tr {
      &:nth-child(2n) {
        background-color: $gray-100;
      }
    }
  }

  &-hover {
    // stylelint-disable-next-line
    tbody > tr {
      &:hover {
        background-color: lighten($cyan, 45%);
      }
    }
  }

  &-wrapper {
    margin: 12px 0;
    overflow: hidden;
  }

  &-scroll-x {
    overflow-x: auto;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    .sk-table {
      border-left: none;
      border-right: none;
    }
  }

  &-scroll-y {
    overflow-y: auto;
    border: 1px solid transparent;
    border-bottom: 1px solid $border-color;

    .sk-table-header {
      -webkit-position: sticky;
      position: sticky;
      top: 0;
      margin: -1px -1px 0 0;
    }

    .sk-table-body {
      margin: -1px;
      margin-left: 0;

      .sk-table {
        border-bottom: none;
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  &-fixed {
    table-layout: fixed;
  }

  &-empty-tip {
    padding: 10px 12px;
    text-align: center;
    border: 1px solid $border-color;
    border-top: none;
    font-size: 14px;
  }
}
