@import '../style/var.scss';

.sk-textarea-wrapper {
  .sk-textarea {
    box-sizing: border-box;
    display: inline-block;
    color: $text;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid $gray-400;
    outline: none;
    box-shadow: none;
    background-color: $white;
    transition: border 0.2s, box-shadow 0.2s;
    border-radius: 4px;
    min-width: 200px;
    min-height: 40px;
    font-family: inherit;

    &::placeholder {
      color: $gray-600;
    }

    &.auto-height {
      resize: none;
      overflow: hidden;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: $gray-100;
    }

    &:focus {
      border: 1px solid $gray-800;
      box-shadow: 0 0 0 2px lighten($gray-800, 65%);
    }

    &.has-error {
      border-color: $red;
      color: darken($red, 10%);

      &::placeholder {
        color: rgba($red, 0.6);
      }

      &:focus {
        border-color: $red;
        box-shadow: 0 0 0 2px lighten($red, 30%);
      }
    }

    &-compute-height {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      left: -4000px;
      width: 200px;
      background-color: yellow;
      border: 1px solid yellow;
      padding: 8px 10px;
      font-size: 14px;
      line-height: 22px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  &.sk-textarea-block {
    .sk-textarea {
      display: block;
      width: 100%;
    }
  }
}
