@import '../style/var.scss';

@keyframes sk-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sk-btn {
  display: inline-block;
  cursor: pointer;
  color: $white;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 12px;
  width: auto;
  height: auto;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:active,
  &.sk-active {
    transition: background-color 0.05s;
    box-shadow: inset 0 0 4px 0 rgba($black, 0.2);
  }

  .sk-button-icon {
    margin-right: 0.35em;
  }

  &-disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &-round {
    border-radius: 18px;
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-loading {
    position: relative;
    color: transparent;
    cursor: not-allowed;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      margin-left: -8px;
      margin-top: -8px;
      border: 2px solid;
      border-radius: 8px;
      border-top-color: rgba($black, 0.2);
      border-right-color: rgba($black, 0.2);
      border-left-color: rgba($white, 0.8);
      border-bottom-color: rgba($white, 0.8);
      box-sizing: border-box;
      animation: sk-rotate 0.6s linear infinite;
    }
  }

  &-icon {
    margin-right: 0.35em;
    font-size: inherit;
  }

  &-size-small {
    font-size: 12px;
    line-height: 18px;
    padding: 4px 8px;

    &.sk-btn-round {
      border-radius: 13px;
    }
  }

  &-size-large {
    font-size: 20px;
    line-height: 28px;
    padding: 10px 18px;

    &.sk-btn-round {
      border-radius: 24px;
    }
  }

  &-default {
    background-color: $secondary;

    &:hover {
      background-color: darken($secondary, 5%);
      box-shadow: inset 0 0 0 1px darken($secondary, 10%);
    }

    &:active,
    &.sk-active {
      background-color: darken($secondary, 10%);
    }

    &.sk-btn-disabled,
    &.sk-btn-loading {
      background-color: $secondary;
    }
  }

  &-primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 5%);
    }

    &:active,
    &.sk-active {
      background-color: darken($primary, 10%);
    }

    &.sk-btn-disabled,
    &.sk-btn-loading {
      background-color: $primary;
    }
  }

  &-success {
    background-color: $success;

    &:hover {
      background-color: darken($success, 5%);
    }

    &:active,
    &.sk-active {
      background-color: darken($success, 10%);
    }

    &.sk-btn-disabled,
    &.sk-btn-loading {
      background-color: $success;
    }
  }

  &-info {
    background-color: $info;

    &:hover {
      background-color: darken($info, 5%);
    }

    &:active,
    &.sk-active {
      background-color: darken($info, 10%);
    }

    &.sk-btn-disabled,
    &.sk-btn-loading {
      background-color: $info;
    }
  }

  &-warning {
    background-color: $warning;

    &:hover {
      background-color: darken($warning, 5%);
    }

    &:active,
    &.sk-active {
      background-color: darken($warning, 10%);
    }

    &.sk-btn-disabled,
    &.sk-btn-loading {
      background-color: $warning;
    }
  }

  &-danger {
    background-color: $danger;

    &:hover {
      background-color: darken($danger, 5%);
    }

    &:active,
    &.sk-active {
      background-color: darken($danger, 10%);
    }

    &.sk-btn-disabled,
    &.sk-btn-loading {
      background-color: $danger;
    }
  }
}

a.sk-btn {
  color: $white;
  text-decoration: none !important;
}
