.sk-layer {
  &-trigger {
    display: block;
  }

  &-content {
    position: absolute;
    visibility: hidden;
    font-weight: normal;
    transition: opacity 0.16s;

    &.sk-layer-open {
      visibility: visible;
    }

    &.fade-enter-from,
    &.fade-leave-to {
      opacity: 0;
    }
  }
}
