@import '../style/var.scss';

$name: sk-input;

.#{$name}-wrapper {
  position: relative;
  display: flex;
  width: 200px;
  height: 36px;

  .#{$name} {
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    color: $text;
    padding: 0 10px;
    font-size: 14px;
    height: 100%;
    border: 1px solid $gray-400;
    outline: none;
    box-shadow: none;
    background-color: $white;
    transition: border 0.2s, box-shadow 0.2s;
    border-radius: 4px;
    width: 0;

    &::placeholder {
      color: $gray-600;
    }

    &:focus {
      border: 1px solid $gray-800;
      box-shadow: 0 0 0 2px lighten($gray-800, 65%);
    }

    &-icon {
      position: absolute;
      left: 8px + 1px;
      top: 10px + 1px;
      pointer-events: none;

      &-wrapper {
        position: relative;
        display: flex;
        flex: auto;
      }

      .sk-icon {
        font-size: 14px;
        color: $gray-600;
      }
    }

    &-addon {
      padding: 0 10px;
      border: 1px solid $gray-400;
      line-height: 34px;
      border-radius: 4px;
      background-color: $gray-100;
      font-size: 14px;
      color: $text;

      &-prepend {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;

        & + .#{$name},
        & + .#{$name}-icon-wrapper .#{$name} {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &-append {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: $gray-100;
    }
  }

  // append
  :nth-last-child(2) {
    &.#{$name},
    .#{$name} {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.has-error {
    .#{$name} {
      border-color: $red;
      color: $red;

      &::placeholder {
        color: rgba($red, 0.6);
      }

      &:focus {
        border-color: $red;
        box-shadow: 0 0 0 2px lighten($red, 30%);
      }
    }

    &.has-icon {
      .sk-icon {
        color: rgba($red, 0.7);
      }
    }
  }

  &.has-icon {
    .#{$name} {
      padding-left: 28px;
    }

    &.#{$name}-large {
      .#{$name} {
        padding-left: 32px;
      }
    }
  }

  &.#{$name}-large {
    width: 220px;
    height: 42px;

    .#{$name} {
      font-size: 16px;
      padding: 0 12px;

      &-icon {
        left: 10px + 1px;
        top: 11px + 1px;

        .sk-icon {
          font-size: 16px;
        }
      }

      &-addon {
        padding: 0 12px;
        font-size: 16px;
        line-height: 40px;
      }
    }
  }

  &.#{$name}-inline {
    display: inline-flex;
  }

  &.#{$name}-block {
    width: 100%;
  }
}
